<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="images/favicon.ico">
<title>Sears Home Services - Guard Street</title>
<%= stylesheet_link_tag 'sears/bootstrap', media: 'all', 'data-turbolinks-track' => 'reload' %>
<%= stylesheet_link_tag 'sears/custom', media: 'all', 'data-turbolinks-track' => 'reload' %>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/custom.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container"> 
  <!-- ***************************** --> 
  <!-- HEADER --> 
  <!-- ***************************** -->
  <div class="row row-sizing">
    <div class="col-xs-4"><a style="text-decoration: none;" href="<%= root_url(:subdomain => 'sears') %>"><%= image_tag "sears/Sears_Home_Services.gif", alt: "Sears Home Services" %></a></div>
    <div class="col-xs-8 container-phone">
      <div>Enroll now or call</div>
      <div class="text-phone">(844) 380-5805</div>
    </div>
  </div>
  <!-- ***************************** --> 
  <!-- BOOM --> 
  <!-- ***************************** -->
  <div class="row">
    <div class="col-xs-12 container-boom">
      <div class="container-boom-content"> Get up to
        <div class="container-boom-percent">33</div>
        <div class="container-boom-percent-sign">%</div>
        <div class="container-boom-off">OFF</div>
        Guard Street&#8482; Identity <br>
        Theft Protection
        <div class="container-boom-button-position"><a href="#Pricing" class="btn btn-default">Get Protected</a></div>
      </div>
    </div>
  </div>
  <!-- ***************************** --> 
  <!-- MAIN CONTENT --> 
  <!-- ***************************** -->
  <div class="row row-sizing">
    <div class="col-sm-8">
      <div class="container-main">
        <h1>Data breaches affect millions</h1>
        <p>The recent Equifax data breach&#8224; impacted 145 million people just like you. To help keep you safe, Sears Home Services is pleased to bring you a special offer of identity theft protection.</p>
        <p>Guard Street&#8482; Identity Theft Protection provides peace of mind by keeping your personal data private and identity safe. Choose from three levels of protection to meet your particular needs and budget.</p>
        <p>Don’t sit back and wait to be a victim. Take action to protect yourself today!</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="container-gs"><%= image_tag "sears/Guard_Street_Id_Theft_Protection.gif", alt: "Guard Street ID Theft Protection", class: "img-responsive center-block" %></div>
    </div>
  </div>
  <!-- ***************************** --> 
  <!-- GRADIENT --> 
  <!-- ***************************** -->
  <div class="row">
    <div class="col-xs-12 container-gradient">
      <div class="row">
        <div class="col-sm-4">
          <div class="container-gradient-left">EXCLUSIVE OFFER FOR SEARS MEMBERS</div>
        </div>
        <div class="col-sm-8">
          <div class="container-gradient-right"><span class="text-large">Get up to 33% off</span> <span class="text-medium">Guard Street&#8482; Identity Theft Protection</span> with coupon code <strong>SEARSSECURE</strong></div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***************************** --> 
  <!-- CHOOSE --> 
  <!-- ***************************** -->
  <div class="row row-sizing" id="Pricing">
    <div class="col-xs-12">
      <div class="container-choose">
        <h2>Choose your identity theft protection plan:</h2>
      </div>
    </div>
  </div>
  <div class="row row-sizing">
    <div class="col-sm-4">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <span class="choose-link"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <div class="panel-basic-top">
                <div class="panel-title-basic">ID Basic</div>
                <div class="panel-price-old"><strike>$9.95/mo</strike></div>
                <div class="panel-price">$7.95<span class="panel-price-month">/mo</span></div>
                <div class="panel-content">Price with Sears discount</div>
              </div>
              </a></span> </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body" style="margin: 0; padding: 0;">
              <ul class="no_bullet">
                <li class="lock-basic">Black Market Web<br>
                  Surveillance
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Black Market Web Surveillance" data-content="We scan the internet and known criminal websites for illegal trading of your personal information and monitor unregulated global networks. Then we help you remove that data from the websites that posted it online."></button>
                </li>
                <li class="lock-basic">Identity Monitoring<br>
                  and Alerts
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Identity Monitoring and Alerts" data-content="..."></button>
                </li>
                <li class="lock-basic">Dedicated Fraud<br>
                  Resolution Support
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Dedicated Fraud Resolution Support" data-content="..."></button>
                </li>
                <li class="lock-basic">Up to $1 Million in<br>
                  Identity Theft Insurance*<br>
                  <span class="text-deductible">with no deductible</span>
                  <button class="panel-info-deductible" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Up to $1 Million in Identity Theft Insurance*" data-content="..."></button>
                </li>
                <li class="lock-basic">Priority Live<br>
                  Member Support
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Priority Live Member Support" data-content="..."></button>
                </li>
                <li class="lock-basic">Password<br>
                  Manager
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Password Manager" data-content="..."></button>
                </li>
                <li><a href="#" class="btn btn-default btn-basic" onclick="shoppingCart1('ID Protection Basic');">Enroll in <strong>ID Basic</strong></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <span class="choose-link"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <div class="panel-plus-top">
                <div class="panel-title-plus">ID Plus</div>
                <div class="panel-price-old"><strike>$19.95/mo</strike></div>
                <div class="panel-price">$14.95<span class="panel-price-month">/mo</span></div>
                <div class="panel-content">Price with Sears discount</div>
              </div>
              </a></span> </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body" style="margin: 0; padding: 0;">
              <ul class="no_bullet">
                <li class="lock-basic">Black Market Web<br>
                  Surveillance
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Black Market Web Surveillance" data-content="We scan the internet and known criminal websites for illegal trading of your personal information and monitor unregulated global networks. Then we help you remove that data from the websites that posted it online."></button>
                </li>
                <li class="lock-plus">Identity Monitoring<br>
                  and Alerts
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Identity Monitoring
                  and Alerts" data-content="..."></button>
                </li>
                <li class="lock-plus">Dedicated Fraud<br>
                  Resolution Support
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Dedicated Fraud
                  Resolution Support" data-content="..."></button>
                </li>
                <li class="lock-plus">Up to $1 Million in<br>
                  Identity Theft Insurance*<br>
                  <span class="text-deductible">with no deductible</span>
                  <button class="panel-info-deductible" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Up to $1 Million in
                  Identity Theft Insurance*" data-content="..."></button>
                </li>
                <li class="lock-plus">Priority Live<br>
                  Member Support
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Priority Live
                  Member Support" data-content="..."></button>
                </li>
                <li class="lock-plus">Password<br>
                  Manager
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Password
                  Manager" data-content="..."></button>
                </li>
                <li class="lock-plus">Bank & Credit Card <br>
                  Activity Alerts
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Bank & Credit Card
                  Activity Alerts" data-content="..."></button>
                </li>
                <li class="lock-plus">Privacy Monitor – <br>
                  VPN up to 5 Devices
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Privacy Monitor –
                  VPN up to 5 Devices" data-content="..."></button>
                </li>
                <li class="lock-plus">Credit<br>
                  Monitoring
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Credit
                  Monitoring" data-content="..."></button>
                </li>
                <li class="lock-plus">Data Breach<br>
                  Notifications
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Data Breach
                  Notifications" data-content="..."></button>
                </li>
                <li><a href="#" class="btn btn-default btn-plus" onclick="shoppingCart2('ID Protection Plus');">Enroll in <strong>ID Plus</strong></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="container-best-value hidden-xs"><%= image_tag "sears/best-value.png", alt: "Best Value" %></div>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <span class="choose-link"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <div class="panel-premium-top">
                <div class="panel-title-premium">ID Premium</div>
                <div class="panel-price-old"><strike>$29.95/mo</strike></div>
                <div class="panel-price">$19.95<span class="panel-price-month">/mo</span></div>
                <div class="panel-content">Price with Sears discount</div>
              </div>
              </a></span> </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body" style="margin: 0; padding: 0;">
              <ul class="no_bullet">
                <li class="lock-premium">Black Market Web<br>
                  Surveillance
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Black Market Web Surveillance" data-content="We scan the internet and known criminal websites for illegal trading of your personal information and monitor unregulated global networks. Then we help you remove that data from the websites that posted it online."></button>
                </li>
                <li class="lock-premium">Identity Monitoring<br>
                  and Alerts
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Identity Monitoring
                  and Alerts" data-content="..."></button>
                </li>
                <li class="lock-premium">Dedicated Fraud<br>
                  Resolution Support
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Dedicated Fraud
                  Resolution Support" data-content="..."></button>
                </li>
                <li class="lock-premium">Up to $1 Million in<br>
                  Identity Theft Insurance*<br>
                  <span class="text-deductible">with no deductible</span>
                  <button class="panel-info-deductible" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Up to $1 Million in
                  Identity Theft Insurance*" data-content="..."></button>
                </li>
                <li class="lock-premium">Priority Live<br>
                  Member Support
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Priority Live
                  Member Support" data-content="..."></button>
                </li>
                <li class="lock-premium">Password<br>
                  Manager
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Password
                  Manager" data-content="..."></button>
                </li>
                <li class="lock-premium">Bank & Credit Card <br>
                  Activity Alerts
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Bank & Credit Card
                  Activity Alerts" data-content="..."></button>
                </li>
                <li class="lock-premium">Privacy Monitor – <br>
                  VPN up to 5 Devices
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Privacy Monitor – 
                  VPN up to 5 Devices" data-content="..."></button>
                </li>
                <li class="lock-premium">Credit<br>
                  Monitoring
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Credit
                  Monitoring" data-content="..."></button>
                </li>
                <li class="lock-premium">Data Breach<br>
                  Notifications
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Data Breach
                  Notifications" data-content="..."></button>
                </li>
                <li class="lock-premium">Secure<br>
                  Email
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Secure
                  Email" data-content="..."></button>
                </li>
                <li class="lock-premium">Data<br>
                  Storage
                  <button class="panel-info" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" title="Data
                  Storage" data-content="..."></button>
                </li>
                <li><a href="#" class="btn btn-default btn-premium" onclick="shoppingCart3('ID Protection Premium');">Enroll in <strong>ID Premium</strong></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***************************** --> 
  <!-- CALL --> 
  <!-- ***************************** -->
  <div class="row row-sizing">
    <div class="col-xs-12">
      <div class="container-call"><span class="container-call-phone">Or call (844) 380-5805</span> <span class="container-call-use">and use coupon code</span> <span class="container-call-code">SEARSSECURE</span></div>
    </div>
  </div>
  <!-- ***************************** --> 
  <!-- GRAY --> 
  <!-- ***************************** -->
  <div class="row">
    <div class="col-xs-12 container-gray">
      <div class="row row-sizing">
        <div class="col-sm-12">
          <h2>How Guard Street&#8482; ID Theft protects you</h2>
        </div>
      </div>
      <div class="row row-sizing">
        <div class="col-sm-4">
          <div class="row container-gray-benefit">
            <div class="col-xs-3 col-sm-3 col-md-3" style="margin-right: -15px"><%= image_tag "sears/icon_web_surveillance.gif", alt: "", class: "img-responsive img-icon-benefits" %></div>
            <div class="col-xs-9 col-sm-9 col-md-9">
              <h3>Black Market Web Surveillance</h3>
              <p>We scan the web for illegal use of your personal information and help you clean up your online identity.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row container-gray-benefit">
            <div class="col-xs-3 col-sm-3 col-md-3" style="margin-right: -15px"><%= image_tag "sears/icon_identity_monitoring.gif", alt: "", class: "img-responsive img-icon-benefits" %></div>
            <div class="col-xs-9 col-sm-9 col-md-9">
              <h3>Identity Monitoring</h3>
              <p> We monitor thousands of databases and billions of records for suspicious activity. If we find any, we call you personally to discuss.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row container-gray-benefit">
            <div class="col-xs-3 col-sm-3 col-md-3" style="margin-right: -15px"><%= image_tag "sears/icon_identity_restoration.gif",  alt: "", class: "img-responsive img-icon-benefits" %></div>
            <div class="col-xs-9 col-sm-9 col-md-9">
              <h3>Identity Restoration Guarantee</h3>
              <p>We stand by your side until your pre-theft identity is restored. For as long as it takes.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-sizing">
        <div class="col-sm-4">
          <div class="row container-gray-benefit">
            <div class="col-xs-3 col-sm-3 col-md-3" style="margin-right: -15px"><%= image_tag "sears/icon_insurance_deductible.gif", alt: "", class: "img-responsive img-icon-benefits" %></div>
            <div class="col-xs-9 col-sm-9 col-md-9">
              <h3>$1 Million Insurance and No Deductible*</h3>
              <p> Identity theft can be costly. Get reimbursed for up to $1 million in expenses.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row container-gray-benefit">
            <div class="col-xs-3 col-sm-3 col-md-3" style="margin-right: -15px"><%= image_tag "sears/Icon_virtual_private_network.gif", alt: "", class: "img-responsive img-icon-benefits" %></div>
            <div class="col-xs-9 col-sm-9 col-md-9">
              <h3>Virtual Private Network (Plus & Premium Plans)</h3>
              <p> Our virtual private network (VPN) secures your privacy by hiding your credit card, banking and other personal information from criminals, scammers, hackers and marketers.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row container-gray-benefit">
            <div class="col-xs-3 col-sm-3 col-md-3" style="margin-right: -15px"><%= image_tag "sears/icon_secure_email.gif", alt: "", class: "img-responsive img-icon-benefits" %></div>
            <div class="col-xs-9 col-sm-9 col-md-9">
              <h3>Secure Email & Data Storage (Premium Plan)</h3>
              <p> We provide a secure email account with fully encrypted messages. Your critical documents are securely stored on servers in Switzerland using military-grade encryption.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-sizing">
        <div class="col-sm-12 text-right"> <span class="see-all-link"><a data-toggle="modal" data-target="#Benefits">See all <%= image_tag "sears/arrow-see-all.png", alt: "arrow" %></a></span> </div>
      </div>
    </div>
  </div>
  <!-- ***************************** --> 
  <!-- GUARANTEE --> 
  <!-- ***************************** -->
  <div class="row row-sizing">
    <div class="col-xs-4">
      <div class="container-try-left"><%= image_tag "sears/logo_30_day_guarantee.gif", alt: "Money back 30 day guarantee.", class: "img-responsive", style: "float: right;" %></div>
    </div>
    <div class="col-xs-8">
      <div class="container-try-right">Try Guard Street&#8482; Identity Theft Protection risk-free. If you’re not 100% satisfied during the first 30 days, you’ll get a full refund.</div>
    </div>
  </div>
  <!-- ***************************** --> 
  <!-- FOOTER --> 
  <!-- ***************************** -->
  <div class="row">
    <div class="col-xs-12 container-footer">
      <div class="row row-sizing">
        <div class="col-xs-12 col-sm-4"><%= image_tag "sears/Sears_GS_footer.gif", alt: "Sears Home Service. Guard Street.", class: "img-responsive img-logo-footer" %></div>
        <div class="col-xs-12 col-sm-8">
          <p class="text-disclaimer">&#8224;Equifax press release 10/2/17.</p>
          <p class="text-disclaimer">*Identity theft insurance underwritten by subsidiaries or affiliates of AIG Inc. The description herein is a summary and intended for informational purposes only and does not include all terms, conditions and exclusions of the policies described. Please refer to the actual policies for terms, conditions and exclusions of coverage. Coverage may not be available in all jurisdictions. Review the <a data-toggle="modal" data-target="#Benefits">Summary of Benefits</a>.</p>
          <p class="text-disclaimer">Copyright &copy;2018 Sears Brands, LLC. All Rights Reserved</p>
          <p class="text-disclaimer">Copyright &copy;2018 Guard Street Partners, LLC. All Rights Reserved.</p>
          <p class="text-disclaimer"><%#= link_to 'Terms of Use', page_path('terms', :coupon_code => params[:coupon_code]) %>. <%#= link_to 'Privacy policy', page_path('privacy', :coupon_code => params[:coupon_code]) %>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/modal" %>

<!-- ***************************** --> 
<!-- MODAL--> 
<!-- ***************************** -->

<div class="modal fade" id="allModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">All Benefits</h4>
      </div>
		<div class="modal-body"> <p>Content goes here...</p> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
	if("<%= params[:coupon_code] %>" != undefined){
          $("#coupon_code").val("<%= params[:coupon_code] %>");
	}

});
function isValidCoupon(c){
	if (
		( (($("#coupon_code").val() == "searssafe") || ($("#coupon_code").val() == "SEARSSAFE")) 
		&& (new Date() >= new Date(Date.parse("December 4, 2017"))) && (new Date() <= new Date(Date.parse("December 31, 2017"))) )
		||
		( (($("#coupon_code").val() == "searssecure") || ($("#coupon_code").val() == "SEARSSECURE"))
		&& (new Date() >= new Date(Date.parse("January 8, 2018"))) && (new Date() <= new Date(Date.parse("February 4, 2018"))) )
		||
		( (($("#coupon_code").val() == "searsprotect") || ($("#coupon_code").val() == "SEARSPROTECT"))
		&& (new Date() >= new Date(Date.parse("February 8, 2018"))) && (new Date() <= new Date(Date.parse("March 11, 2018"))) )
	) {
	  return true;
	} else {
	  return false;
	}
    }

    function toggleDiscount() {
	if(isValidCoupon($("#coupon_code").val())){
        //if (($("#coupon_code").val() == "searssafe") || ($("#coupon_code").val() == "SEARSSAFE")) {
            $('.promo_section').show();
            $('.non_promo_section').hide();
        } else {
            $('.promo_section').hide();
            $('.non_promo_section').show();
	    if($("#coupon_code").val() != "" && $("#coupon_code").val() != undefined){
	      alert("We're sorry, this coupon code expired. Please call us at 1-800-4550");
	    }
        }
    }
function shoppingCart1(product_name) {
        //if (($("#coupon_code").val() == "searssafe") || ($("#coupon_code").val() == "SEARSSAFE")) {
	if(isValidCoupon($("#coupon_code").val())){
            discount_price = "7.95";
        } else {
            discount_price = "9.95"
        }
        window.location.href = "#{ENV['GUARDSTREETID_URL']}home/shopping_cart/?product_name=" + product_name + "&product_price=9.95&discount_price=" + discount_price + "&promo_code=IDProBasic&coupon_code=" + $('#coupon_code').val();
    }
    function shoppingCart2(product_name) {
        //if (($("#coupon_code").val() == "searssafe") || ($("#coupon_code").val() == "SEARSSAFE")) {
	if(isValidCoupon($("#coupon_code").val())){
            discount_price = "14.95";
        } else {
            discount_price = "19.95"
        }
        window.location.href = "<%= ENV['GUARDSTREETID_URL'] %>home/shopping_cart/?product_name=" + product_name + "&product_price=19.95&discount_price=" + discount_price + "&promo_code=IDProPlus&coupon_code=" + $('#coupon_code').val();
    }
    function shoppingCart3(product_name) {
        //if (($("#coupon_code").val() == "searssafe") || ($("#coupon_code").val() == "SEARSSAFE")) {
	if(isValidCoupon($("#coupon_code").val())){
            discount_price = "19.95";
        } else {
            discount_price = "29.95"
        }
        window.location.href = "<%= ENV['GUARDSTREETID_URL'] %>home/shopping_cart/?product_name=" + product_name + "&product_price=29.95&discount_price=" + discount_price + "&promo_code=IDProPremium&coupon_code=" + $('#coupon_code').val();
    }
</script>
</body>
</html>
